---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/blog/</link>
    <description>Posts from {{ site.title }}</description>
    {% for item in collections.blog %}
      <item>
        <title>{{ item.data.title }}</title>
        <link>{{ site.url }}{{ item.url }}</link>
        <guid>{{ site.url }}{{ item.url }}</guid>
        <pubDate>{{ item.data.date | rfc822Date }}</pubDate>
      </item>
    {% endfor %}
  </channel>
</rss>
